*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
}

nav {
    height: 10vh;
    background-color: blueviolet;
}

nav ul.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-bottom: 0;
}

nav ul.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    
}


section.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

section.landing img{
    height: 10rem;
    width: 10rem;
}















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.line{
    color: white;
    width: 30px;
    height: 30px;
    background-color: white;
    margin: 5px;
}

nav{
    position: relative;
    background-color: yellow;
}

.hamburguer{
    position: absolute;
    cursor: pointer;
}


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    nav {
        height: 10vh;
        background-color: orange;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}